{% extends "todo/base.html" %}
{% block content %}
	<h2>Items</h2>	
	<ul>
		{% for item in item_list %}
			<li>
				<a href="{% url 'item-update' item.id%}"> {{ item }} </a> -- 
				<a href="{% url 'item-delete' item.id%}"> <small> <span class="badge badge-danger">delete</span></small> </a>
					
				{% if item.done == True %}
					<span class="badge badge-light">done</span>	
				{% endif %}
			</li>
		{% endfor %}
	</ul>
<button type="button" class="btn btn-outline-primary">
	<a href="{% url 'item-add' %}">add item</a>
</button>
{% endblock %}
